@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: white;
  background: #121212;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
.bi {
  cursor: pointer;
}
.btn,
nav button,
footer button {
  color: white;
  font-weight: 500;
}
#logo {
  color: white;
}
.logo i {
  color: #00b5d8;
}
.nav-items li {
  margin: 0 1rem;
  cursor: pointer;
}
.nav-a {
  color: #00b5d8;
}
nav button {
  background: #00b5d8;
  border: none;
  border-radius: 5px;
  width: 145px;
  height: 40px;
}

.default {
  z-index: 2;
  overflow: hidden;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(73, 166, 233, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -10;
}
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: white;
  height: 60vh;
  min-width: 40%;
  position: relative;
}
input {
  width: 350px;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
}
.bi-x-lg:hover {
  transform: scale(1.2);
  transition: 0.5s all linear;
  cursor: pointer;
}
.post {
  overflow: hidden;
  margin: 0.5rem 0;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}
.post-image {
  width: 100%;
  height: 30vh;
}
.post-image img {
  width: 100%;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
}
.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

footer,
section,
.latest-post {
  overflow: hidden;
}
footer .list-items li {
  margin: 2rem 0;
}
footer input {
  width: 250px;
}
footer button {
  background: #00b5d8;
  color: white;
  border: none;
  width: 152px;
  height: 46px;
}
.bordered {
  border-top: 1px solid grey;
}

@media screen and (max-width: 876px) {
  #nav-logo {
    color: white;
  }
  .mob-nav-items {
    height: 0;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
  }
  .mob-nav-items li {
    margin: 3rem 0;
    color: #121212;
  }
  .nav-a {
    color: #00b5d8;
  }
  #home-link {
    color: black;
  }
  .show-nav {
    height: 500px;
  }
  .close-navbar {
    display: none;
    color: red;
  }
  .show-x {
    display: block;
  }
  .edit-read {
    width: 70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 920px) {
  .post-image {
    height: 20vh;
  }
  .nav-items li {
    margin: 0 0.5rem;
    font-size: 0.9rem;
  }
}
